.user{
    font-family: 'Montserrat', sans-serif;
    background-color:purple;
}

.forget{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.mainbody{
    background-color:rgba(255, 255, 255, 0.8)';
}

html{
    background-image:image
}